
@{
    ViewBag.Title = "RegisterResult";
    Layout = "~/Areas/SHOP/Views/Shared/_ShopLayout.cshtml";
}

<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">註冊</h1>
                <p class="lead fw-normal text-muted mb-0">@TempData["RegisterState"]</p>
            </div>
        </div>
    </div>
</section>

