@using ASP_MVC_0720_Ecommerce.Areas.SHOP.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SHOP/Views/Shared/_ShopLayout.cshtml";

    //List<Products> AllProducts = ViewBag.ProductList;
}

<!-- Blog preview section-->
<section class="py-3">
    <div class="container px-3 my-3">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder mb-5">商品列表</h2>
                    @*<p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>*@
                </div>
            </div>
        </div>
        <div class="row gx-5">
            @foreach (Products product in ViewBag.ProductList)
            {
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="/Upload/Products/@product.Product_Id/@product.Image" alt="..." />
                        <div class="card-body p-4">
                            @*<div class="badge bg-primary bg-gradient rounded-pill mb-2">@product.Product_Name</div>*@
                            <a class="text-decoration-none stretched-link" href="/SHOP/Products/Product?ProductId=@product.Product_Id"><h4 class="card-title mb-3">@product.Product_Name</h4></a>
                            <p class="card-text mb-0">$@product.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        @Html.PagedListPager((IPagedList)ViewBag.ProductList, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {
       UlElementClasses = new string[] { "pagination justify-content-center" }
        })

    </div>
</section>

